html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font: 16px normal Helvetica, sans-serif;
  color: #5b5b5b;
  background: #fafafa;
}

a {
  text-decoration: none;
}

#root {
  min-width: 968px;
  min-height: 750px;
}
